@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

/* Light theme */
@theme {
    --color-backgroundColor: #dcdcdd;
    --color-darkBackgroundColor: #121417;
    --color-textColor: #04080f;
    --color-mainColor: #1b6c83;
    --color-secondaryColor: #36c2da;
    --color-tertiaryColor: #aeebf3;


    --font-inter: "Inter", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
}



* {
    font-family: var(--font-inter);

}

.header-font {
    font-family: var(--font-montserrat);
    
}

#root {
    @apply h-[100vh] w-[100vw];
}

body {
    @apply h-[100vh] w-[100vw];
}

html {
    @apply bg-backgroundColor dark:bg-darkBackgroundColor;

}